    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

    * {
      padding: 0;
      margin: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
    }

    .attribution {
      margin-top: 1rem;
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: white
    }

    html,
    body {
      min-height: 100vh;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
      font-family: 'Kumbh Sans', sans-serif;
    }

    .container {
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 1.5rem;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
      margin-top: 8rem;
    }

    .questions {
      width: 100%;
      margin-top: -90px;
      padding: 2rem 1.5rem;
      padding-bottom: 3rem;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;
      font-size: 13px;
      color: hsl(237, 12%, 33%);
      cursor: pointer;
      list-style: none;
    }

    .title:hover {
      color: hsl(14, 88%, 65%);
    }

    .title img {
      margin-left: 1rem;
    }


    .img {
      width: 266px;
      height: 196px;
      background: url("https://raw.githubusercontent.com/Mtc-21/FAQ-Accordion-Card/f4a854d7238f716cdcf20dc062423a4c29478f56/images/illustration-woman-online-mobile.svg")center/ contain no-repeat;
      position: relative;
      top: -110px;
      margin-right: 5vw;
    }

    .img::before {
      content: url("https://raw.githubusercontent.com/Mtc-21/FAQ-Accordion-Card/f4a854d7238f716cdcf20dc062423a4c29478f56/images/bg-pattern-mobile.svg");
      position: absolute;
      top: 110px;
      left: 25px;
    }

    .question {
      border-bottom: solid 1px hsl(240, 5%, 91%);
      padding: 0.5rem 0;
    }

    h1 {
      font-weight: 700;
      font-family: 'Kumbh Sans', sans-serif;
      font-size: 30px;
      text-align: center;
      padding-bottom: 1rem;
    }


    p {
      width: 95%;
      font-weight: 400;
      line-height: 1.5;
      padding-bottom: 0.8rem;
      color: hsl(240, 6%, 50%);
    }

    @media (min-width:1200px) {
      .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
      }

      .questions {
        width: 50%;
        margin-top: 0;
        margin: 1rem 5rem 1rem -0.5rem;
      }

      h1 {
        text-align: left;
      }

      .title img {
        margin-left: 2rem;
      }

      .content-header {
        position: relative;
        min-width: 390px;
        min-height: 100%;
      }

      .header {
        overflow: hidden;
      }

      .img {
        min-width: 472px;
        min-height: 400px;
        background: url("https://raw.githubusercontent.com/Mtc-21/FAQ-Accordion-Card/f4a854d7238f716cdcf20dc062423a4c29478f56/images/illustration-woman-online-desktop.svg")center/ contain no-repeat;
        top: 0;
        left: -80px;
        margin: 5em 0;
      }

      .img::before {
        content: url("https://raw.githubusercontent.com/Mtc-21/FAQ-Accordion-Card/f4a854d7238f716cdcf20dc062423a4c29478f56/images/bg-pattern-desktop.svg");
        position: absolute;
        top: -350px;
        left: -490px;
      }

      .content-header::after {
        content: url("https://raw.githubusercontent.com/Mtc-21/FAQ-Accordion-Card/f4a854d7238f716cdcf20dc062423a4c29478f56/images/illustration-box-desktop.svg");
        position: absolute;
        top: 210px;
        left: -90px;
      }
    }

    @media (min-width:1500px) {
      .container {
        width: 60vw;
      }
    }